<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LogPath" value="D:\\ShadowSocks\\FreeShadowSocksSpider\\log"/>
	<property name="MaxHistory" value="30"/>
	<property name="ConsoleCharset" value="GB2312"/>
	<property name="FileCharset" value="UTF-8"/>
	
	<appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:dd.SSS} [%thread] %level : %message%n</pattern>
			<charset>${ConsoleCharset}</charset>
		</encoder>
	</appender>
	
	<appender name="RollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LogPath}/%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>${MaxHistory}</maxHistory>
		</rollingPolicy>
		
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:dd.SSS} [%thread] %level : %message%n%ex{full, DISPLAY_EX_EVAL}</pattern>
			<charset>${FileCharset}</charset>
		</encoder>
		
	</appender>
	
	<logger name="ShadowSocksSpiderLogger" level="TRACE" additivity="false">
		<appender-ref ref="ConsoleAppender"/>
		<appender-ref ref="RollingFileAppender"/>
	</logger>
	
</configuration>